html, body, #root {
    height: 100%;
}

.loader {
    min-height: 400px;
    vertical-align: auto;
}

.loader .spinner-border {
    position: absolute;
    top: 50%;
}

.bd-callout {
    font-size: 13px;
    margin: 10px 0px;
    border-left: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    padding-left: 6px;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.main-table {
    font-size: 14px;
}

.main-table-row {
    background-color: #fff;
}

.main-table-row:hover {
    background-color: #f1f8ff;
    transition: all 0.1s ease-in-out;
}

.login-card, .reg-card {
    max-width: 340px;
    border-radius: 4px;
    box-shadow: #0000001f 0px 20px 20px;
}

.fade.modal-backdrop.in{
 opacity: 0.8;
}

.modal-backdrop {
 opacity: 0.8;
}

.modal.fade.in {
    opacity: 1;
}

#__react-alert__ span {
    text-transform: initial !important;
}

#__react-alert__ div div div {
    background-color: #3269cb !important;
}

#__react-alert__ div {
    z-index: 1100 !important;
}

.tooltip__icon {
    vertical-align: text-top;
    margin-left: 6px;
    line-height: 1;
}

.tooltip__icon-svg:hover {
    fill: #acacac;
}

.tooltip-inner {
    background-color: #fff;
    color: #000;
}

.tooltip-arrow {

}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #fff;
}

.tooltip {

}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    box-shadow: 0 15px 25px rgba(77,85,103,.15),0 0 10px rgba(77,85,103,.1);
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}
