
.bd-callout {
    font-size: 13px;
    margin: 10px 0px;
    border-left: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    padding-left: 6px;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.main-table {
    font-size: 14px;
}

.login-card, .reg-card {
    max-width: 340px;
    border-radius: 4px;
    box-shadow: #0000001f 0px 20px 20px;
}

.fade.modal-backdrop.in{
 opacity: 0.8;
}

.modal-backdrop {
 opacity: 0.8;
}

.modal.fade.in {
    opacity: 1;
}

#__react-alert__ span {
    text-transform: initial !important;
}

#__react-alert__ div div div {
    background-color: #3269cb !important;
}

#__react-alert__ div {
    z-index: 1100 !important;
}
