<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
</head>
<body>
   <p>Кто-то запросил сброс пароля от личного кабинета ОСКАБ.</p>
   <p>Если это были не вы, ничего не предпринимайте.</p>
   <p>Для сброса пароля перейдите по <a href={{ reset_password_url }}>ссылке</a>.</p>
</body>
</html>
